{% extends "layout.html" %}

{% block title %}
    Property Image Upload
{% endblock %}

{% block main %}
    <div class = "row justify-content-center">
        <h1>Homepage Photo Upload</h1>
    </div>
    <div class = "row align-items-center">
        <div class = "col-lg-4 align-items-center justify-content-center">
            <p>Upload an image of the property's exterior. Please ensure the image has an unobstructed view of the front of the building.<br>
            Maximum image dimensions: 350 x 275 pixels.</p>
        </div>
    </div>
    <div class = "row align-item-center">
        <div class = "col-lg-4 align-item-center">
            <form action="{{ url_for('upload_file') }}" method = "post" enctype = "multipart/form-data">
                <div class = "form-group">
                    <input class = "form-control" name = "file" type = "file">
                </div>
                <button class="btn btn-default" style = "width: 320px;">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}