{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block main %}
    <div class = "row justify-content-center">
      <h1>{{ home }}</h1>
    </div>
    <div class = "row">
        {% for room in rooms %}
        <div class = "col-lg-2">
            <h3>{{ room[1] }}</h3>
            <p>Nightly Rate: ${{ room[2] }}</p>
            <p>Max. Occupants: {{ room[3] }}</p>
        </div>
        {% endfor %}
        <div class = "col-lg-2">
            <form action = "{{ url_for('details', home = home) }}" id = "details" method = "post">
                <div class = "form-group">
                    <select class = "form-control" name = "room">
                        <option disabled = "" selected = "selected" value = "">Room</option>
                        {% for room in rooms %}
                            <option selected = "selected" value = "{{ room[1] }}">{{ room[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class = "form-group">
                    <h4>Check-In</h4>
                    <input class = "form-control" type = "date" name = "checkin" placeholder = "Check-In"/>
                </div>
                <div claross = "form-group">
                    <h4>Check-Out</h4>
                    <input class = "form-control" type = "date" name = "checkout" placeholder = "Check-Out"/>
                </div>

                <button class = "btn btn-primary" id = "book" type = "submit">Book</button>
            </form>
        </div>
        <div class = "col-lg-2">
            <button class = "btn btn-default" id = "check">Check Availability</button><br>
            <div id = "result"></div>
        </div>
    </div>
    <div class = "row">
    {% for image in images %}
        <img src = "{{ url_for('static', filename = image[0]) }}" alt = "Interior view"/>
    {% endfor %}
    </div>
    <div class = "row justify-content-end">
        <div class = "col-lg-3">
            <div id = "map"></div>
        </div>
    </div>


    <script>
        function initMap() {
          var lat = Number('{{ lat }}');
          var lng = Number('{{ lng }}');
          var loc = {lat: lat, lng: lng};
          var map = new google.maps.Map(document.getElementById('map'), {
            center: loc,
            zoom: 16
          });
          var marker = new google.maps.Marker({
            position: loc,
            map: map
          });
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_8dKMvm9l98sJMLFv-G6eV7K3vUPUat0&callback=initMap">
    </script>
    <script>
        $(function() {
            $("#book").hide();
            $('#check').bind('click', function() {
                $.getJSON("/check_calendar/" + '{{ home }}', {
                    room_name: $(':selected').val(),
                    check_in: $('input[name = "checkin"]').val(),
                    check_out: $('input[name = "checkout"]').val()
                }, function(data) {
                    $("#result").text(data.result);
                    if($("#result").text() == "Available")
                    {
                        $("#result").css("color", "black");
                        $("#book").toggle();
                    }
                    else if($("#result").text() == "Not Available")
                    {
                        $("#result").css("color", "red");
                    }
                    return true;
                });
                return false;
            });
        });
    </script>
    <!--<script src = "{{ url_for('static', filename = 'js/checkcal.js') }}"></script> -->
    <script src = "{{ url_for('static', filename = 'js/detailscript.js') }}"></script>





{% endblock %}