{% extends "layout.html" %}

{% block title %}
    Host Registration
{% endblock %}

{% block main %}
    <div class = "row justify-content-center" id = "pageHeader">
        <h1>Host Registration</h1>
        <p>* Required</p>
    </div>
    <form action="{{ url_for('host') }}" id="hostreg" method="post">
        <div class = "row">

            <div class = "col-lg-4 col-lg-offset-3 text-right">
                <div class = "form-group">
                    <label for = "emailinput">Email*
                        <input class = "form-control" autocomplete = "off" name = "email" id = "emailinput" placeholder = "email@example.com" type = "email">
                    </label>
                </div>
                <div class = "form-group">
                    <label for = "passinput">Password*
                        <input class = "form-control" autocomplete = "off"  name = "password" id = "passinput" type = "password">
                    </label>
                </div>
                <div class = "form-group">
                    <label for = "firstinput">First Name*</label>
                    <input class = "form-control" autocomplete = "off" name = "first" id = "firstinput" type = "text">
                </div>
                <div class = "form-group">
                    <label for = "lastinput">Last Name*</label>
                    <input class = "form-control" autocomplete = "off" name = "last" id = "lastinput" type = "text">
                </div>
            </div>
            <div class = "col-lg-4 text-right">
                <div class = "form-group">
                    <label for = "propinput">Property Name*</label>
                    <input class = "form-control" autocomplete = "off" name = "propname" id = "propinput" type = "text">
                </div>
                <div class = "form-group">
                    <label for = "addressinput">Street Address*</label>
                    <input class = "form-control" autocomplete = "off" name = "address" id = "addressinput" type = "text">
                </div>
                <div class = "form-group">
                    <label for = "zipinput">Zipcode*</label>
                    <input class = "form-control" autocomplete = "off" name = "zipcode" id = "zipinput" type = "text">
                </div>
                <div class = "form-group">
                    <label for = "descinput">Description: write any additional details here</label>
                    <input class = "form-control" autocomplete = "off" name = "desc" id = "descinput" type = "text">
                </div>
                <button class="btn btn-primary" style = "width: 200px;">Submit</button>
            </div>
        </div>
    </form>
    <script src = "{{ url_for('static', filename = 'js/hostRegScript.js') }}"></script>


{% endblock %}